body{
    margin: 0px;
    padding: 0px;
    background: #491717;
}
.navbar-nav{
    margin-left: 64%;
    
}
.navbar{
    background-color: #491717 !important;
}
.nav-link{
    color: white !important;
}
.nav-item{
    padding-left: 10px;
}
.navbar-brand{
    color: white !important;
}
.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.intro{
    background: url("./images/headerimage.jpeg");
    background-size: cover;
}
.intro>h1{
    position: absolute;
    bottom: 500px;
    left: 100px;
    color: white;
    z-index: 1;
    text-align: left;
}
.products{
    text-align: center;
    padding: 5% 20% ;
}
.intro>h4{
    position: absolute;
    bottom: 400px;
    left: 100px;
    color: white;
    z-index: 1;
    text-align: left;
}
/*--------------------- promotions ----------------------*/

.cakesDetails>.card-body>.price{
    text-decoration: line-through;
}

/*-------------------- cakes page ---------------------- */
.productDetails{
    padding: 5% 14%;
}
.cakesDetails{
    padding: 5% 14%;
    /* background: #582727; */
}
.productDetails>h1{
    text-align: center;
    margin-bottom: 80px;
    font-weight: 900;
    color: white;
}
.products{
    color: white;
}
.card{
    width: 25rem;
    border-radius: 20px;
    box-shadow: 17px 18px 4px 0px #000000;
}

.card-img-top{
    background-size: cover !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 245px;
    width: 399px;
}
.row{
    margin-top: 10px;
    margin-bottom: 30px;
}
.discount{
    float: right;
    font-weight: bolder;
    padding-left: 276px;
    padding-right: 0px;
}
.old{
    text-decoration: line-through;
}
.price {
    float: right;
    font-weight: bolder;
}
.reviews {
    margin-top: 0px;
    /* background: #491717; */
    min-height: auto;
}
.reviews>h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    padding-top: 30px;
}
.reviewItem{
    margin: 3% 30% 0% 30%;
}
.carousel-item>p {
    color:white;
    font-weight: bolder;
}
.testimonial{
    padding: 7% 14% 3% 14%;
    color: white;
    background: #491717;
}
/*------------------ footer ------------------------*/

.footer{
    color: white;
    padding-top: 60px;
    background-size: cover;
    background-color: #491717;
    padding-bottom: 20px;
}
.logo{
    padding-left: 45vw;
    font-size: 25px;
}
.logo>i{
    padding: 10px 10px;
}
.copyright{
    padding-left: 35vw;
    font-weight: bolder;
}
